.calc-box {
    position: absolute;
    border: 3px solid grey;
    background-color: deepskyblue;
    width: 300px;
    text-align: center;
    padding: 20px 25px 20px 20px;
    border-radius: 20px;
}
.screen-box {
    width: 290px;
    height: 5px;
    border: 3px solid grey;
    background-color: white;
    text-align: right;
    padding: 30px 2px 30px 5px;
    font-family: 'Righteous', cursive;
    border-radius: 10px;
    margin-bottom: 2%;
    font-size: 30px;
    color: black;
}

.calc-button {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    font-size: 20px;
    border: 2px solid grey;
    font-family: 'Righteous', cursive;
    margin-right: 6px;
    margin-left: -5px;
    width: 71px;
}